<div class="nk-divider divider md"></div>
<div class="nk-block">
    <div class="nk-block-head nk-block-head-sm nk-block-between">
        <h5 class="title">{{ this.title }}</h5>
        {% if this.path %}
            <twig:DashliteFormModalButton :name="this.name" :icon="this.icon" :path="this.path" />
        {% endif %}
    </div>

    <twig:block name="content"></twig:block>
</div>
